language: perl
perl:
  - "5.6.2"
  - "5.8.9"
  - "5.10.0"
  - "5.12.0"
  - "5.14.0"
  - "5.16.0"
  - "5.18.0"
  - "5.20.0"
  - "5.22.0"
  - "5.24.0"
  - "5.26.0"
  - "5.28.0"
  - "5.30.0"
  - "5.30.1"
  - "blead"
matrix:
  allow_failures:
    -perl: blead
sudo: false
before_install:
  - eval $(curl https://travis-perl.github.io/init) --auto
