name: CI

on:
    push:
        branches: '*'
    pull_request:
        branches: '*'
    schedule:
        - cron: '31 6 24 * *'

jobs:
  matrix-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        perl-version:
          # 5.6.2
            - "5.8.9"
            - "5.10.0"
            - "5.12.0"
            - "5.14.0"
            - "5.16.0"
            - "5.18.0"
            - "5.20.0"
            - "5.22.0"
            - "5.24.0"
            - "5.26.0"
            - "5.28.0"
            - "5.30.0"
            - "5.32.0"
            - "5.34.0"
            - "5.36.0"
            - "5.38.0"
            - "5.38.2"
    name: Perl ${{ matrix.perl-version }}
    steps:
      - uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl-version }}
      - uses: actions/checkout@v2
      - name: Regular tests
        run: |
            cpanm --installdeps --notest .
            perl Makefile.PL
            make
            make test

  author-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        perl-version:
          - 'latest'
    container:
      image: perldocker/perl-tester:${{ matrix.perl-version }}  # https://hub.docker.com/r/perldocker/perl-tester
    name: Author ${{ matrix.perl-version }}
    steps:
      - uses: actions/checkout@v2
      - name: Prove with author tests
        run: |
            cpanm --installdeps .
            prove -vl t xt
